.navBarContainer{
    display: flex;
    height: 15vh;
    text-align: center;
    align-content: center;
    
    justify-content: space-between;
}
.navBarContainer, .navBarContainer img{
    background-color: blanchedalmond;
}

h1, h2 {
   
    text-align: center;
    padding: 1rem;
    margin: 0;
}