#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;  
  text-align: center;
  height: 100%;
  width: 100%;
}
.pageContainer{
  
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card {
  padding: 2em;
}
