*{
    margin: 0;
    padding: 0;
}


h1{
    text-align: center;
    font-family: Verdana;
    size: 20px;
    color: brown;
}

.tituloComFundo {
    background-image: url(./img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}

body { 
    background-color: #f333;
    background-size: cover;
    }
p {
    font-size: 14px;
}

.botao {
    border-radius: 10%;
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;
}

.container {
    margin: 10px;
    max-width: 1920px;
    width: 100%;
    min-height: 90%;
    
}
nav {
    margin-right: 0px;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: rgb(27, 47, 47);
    border-bottom: 1px solid rgb(5, 110, 110);
}

nav::after {
    clear: both;
    content:"";
    display: block;
}

.nav-container {
   
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
 .navlogo {
width: 100px;
height: 100px;
margin-top: 0px;
 }
 
 .nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
 }
  
 .nav-container li {
    list-style: none;
    float: left;
    margin: 13 15 px;
    margin-right: 10px;
 }
.nav-container li a {
    text-decoration: none;
    color:aliceblue;
    padding: 10px;
    transition: .3s;
}
.nav-container li a:hover {
    text-decoration: none;
    background-color: aquamarine;
    color: rgb(60, 58, 58);
}

.main {
    margin-top: 100px;
    margin-right: 10px;
    }
 
footer {
    background-color: rgba(46, 46, 46, 0.667);
    color: aliceblue;
    text-align: right;
}


